/* Landing page */
header section {
    width: clamp(318.75px, 34.76vw, 40.125em);
}

h1 {
    font-weight: normal;
    font-size: clamp(1.5em, 2.62vw, 3.125em);
}

h2 {
    display: flex;
    flex-direction: column;
    font-size: clamp(2.6em, 4.54vw, 5.3em);
}

header p {
    font-size: clamp(100%, 1.745vw, 2.25em);
}

header img,
section:last-of-type img {
    height: clamp(318.75px, 30.357vw, 34.56em);
    width: clamp(318.75px, 30.357vw, 34.56em);
    object-fit: cover;
    object-position: 0% 100%;
    margin-top: 6vmin;
}

/* Projects + More about me */
main h2 {
    width: fit-content;
    border-bottom: 2.5px solid #8D8DE0;
    margin-bottom: 8vmin;
}

section:not(:last-of-type) {
    margin-bottom: 13vmin;
}

section img {
    position: relative;
    display: block;
    width: 187.5px;
    margin: auto;
    z-index: 1;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.19);
}

section:nth-of-type(4) img {
    width: clamp(318.75px, 42.5vw, 44.06em);
}

section:not(:last-of-type) article {
    background-color: #8D8DE0;
    padding: 0.8em 1em;
    transform: translateY(-0.3em);
}

article>* {
    margin-top: 2vmin;
}

article>*:not(h3) {
    font-size: clamp(0.9em, 1.57vw, 1.5em);
}

article a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 0.6em;
    padding: 0.2em 0.4em;
    margin-top: 3vmin;
}

article a:hover,
article a:focus {
    background-color: white;
    outline: none;
    color: #8D8DE0;
}

article a + a {
    margin-left: 1em;
}

section:last-of-type article {
    margin: 5vmin 0 6vmin;
}

/* Changing to Desktop variant */
@media (min-width: 750px) {
    header {
        flex-direction: row;
        margin: 0;
        align-items: center;
        justify-content: space-between;
    }

    header img {
        margin: 0;
    }

    main h2 {
        margin-bottom: 3.5vw;
    }

    main section {
        display: flex;
        align-items: center;
    }

    main section img {
        box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    main section:nth-of-type(2n) img {
        box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.19);
    }

    main section:nth-of-type(2) {
        flex-direction: row-reverse;
    }

    main section:nth-of-type(4) {
        flex-direction: column;
        align-items: unset;
    }

    main section:nth-of-type(4) img {
        height: auto;
        margin-right: 0;
    }

    main section:nth-of-type(4) article {
        transform: translateY(-3em);
        width: 70%;
    }

    section img,
    section:last-of-type img {
        height: 41.8vw;
        max-height: 50.125em;
        width: auto;
    }

    section:not(:last-of-type) article {
        transform: none;
        height: 70%;
        padding: 1em 1.5em;
    }

    main section:last-of-type {
        align-items: unset;
        margin-bottom: 3.5em;
    }

    section:last-of-type img {
        width: 40%;
        margin: 0 5% 0 0 ;
    }

    section:last-of-type article {
        width: 55%;
        margin: 0;
    }

    h3 {
        font-size: clamp(100%, 2.04vw, 2.25em);
        margin-top: 0;
    }
}

/* Scaling up all sizes (clamp for font-sizes start now) */
@media (min-width: 917px) {
    section:not(:last-of-type) article {
        padding: 1.74vw 2.62vw;
    }

    main h2 {
        border-bottom: 0.27vw solid #8D8DE0;
    }

    article a {
        border: 0.218vw solid white;
    }
}