*, *::before, *::after {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }

body {
    font-family: 'Avenir', Helvetica, sans-serif;
    background-color: #161623;
    color: white;
    padding: 0 7.5vmin;
}

header, main {
    max-width: 84em;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}